---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
    <div class="basic-slide">
        <h1>{frontmatter.title.toUpperCase()}</h1>
        <slot />
        {
            frontmatter.image ? (
                <Image
                    src={frontmatter.image}
                    alt={frontmatter.imageAlt}
                    width={290}
                    height={290}
                />
            ) : null
        }
    </div>
</Layout>

<style is:global>
    .basic-slide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        height: 100%;
        max-width: 80%;
        padding: 48px;
        box-sizing: border-box;

        * {
            margin: 0;
        }

        h1 {
            font-size: 2.5rem;
        }

        li {
            font-size: 1.5rem;
        }

        img {
            position: absolute;
            bottom: 32px;
            right: 32px;
            opacity: 0.8;
        }
    }
</style>
