---
import Layout from "@layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
    <div class="basic-slide">
        <h1>{frontmatter.title.toUpperCase()}</h1>
        <div id="mermaid-diagram"></div>
        <slot />
    </div>
</Layout>

<style is:global>
    .basic-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        height: 100%;
        padding: 32px;
        box-sizing: border-box;

        * {
            margin: 0;
        }
    }

    h1 {
        align-self: center;
        font-size: 5rem;
    }

    li {
        font-size: 1.5rem;
        margin-bottom: 0.75rem;
    }

    #mermaid-diagram {
        width: 100%;
        display: flex;
        justify-content: center;
    }
</style>

<script>
    // @ts-ignore
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs";

    mermaid.initialize({ startOnLoad: false, theme: "dark" });

    const diagram = `
      flowchart LR
           B1[Markdown] e2@-->  A
           B2[Components] e3@--> A
           B3[Styles] e4@--> A
           A[Astro] e1@--> C[Git]
           C e7@--> D[CI/CD]
           D e8@--> E[Static Host]
           e1@{ animate: true }
           e2@{ animate: true }
           e3@{ animate: true }
           e4@{ animate: fast }
           e7@{ animate: fast }
           e8@{ animate: fast }
  `;

    mermaid.render("diagram", diagram).then(({ svg }: any) => {
        const mermaidContainer = document.getElementById("mermaid-diagram");
        if (mermaidContainer) {
            mermaidContainer.innerHTML = svg;
        }
    });
</script>
