---
import Layout from "@layouts/Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
    <div class="basic-slide">
        <div class="basic-slide-content">
            <h1>{frontmatter.title.toUpperCase()}</h1>
            <slot />
        </div>
    </div>
</Layout>

<style is:global>
    .basic-slide {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        height: 100%;
        padding: 64px;
        box-sizing: border-box;
    }

    .basic-slide-content {
        * {
            margin: 0;
        }

        h1 {
            font-size: 2.5rem;
        }

        li {
            font-size: 1.5rem;
            margin-bottom: 0.75rem;
        }
    }
</style>
