---
import Layout from "../Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
    <div class="title-slide">
        <h1>{frontmatter.title.toUpperCase()}</h1>
        <h2>{frontmatter.subtitle.toUpperCase()}</h2>
        <slot />
    </div>
</Layout>

<style>
    .title-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        height: 100%;
        padding: 64px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 8rem;
        line-height: 1;
        animation: float 10s ease-in-out 2s infinite alternate;
    }

    @keyframes float {
        0% {
            transform: translateY(0px); /* Starting position */
            text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #f00,
                0 0 20px #f00;
        }
        50% {
            transform: translateY(-20px); /* Mid-point of the float */
        }
        100% {
            transform: translateY(0px); /* Ending position (back to start) */
            text-shadow:
                0 0 5px #fff,
                0 0 10px #fff,
                0 0 15px #f00,
                0 0 20px #f00,
                0 0 25px #f00;
        }
    }

    h2 {
        font-size: 3em;
        align-self: flex-end;
    }

    * {
        margin: 0;
    }
</style>
