---
import type { MarkdownInstance } from "astro";
import Slide, { type SlideType } from "./Slide.astro";

const slides = Object.values(
    import.meta.glob("../content/slides/*.md", { eager: true }),
) as MarkdownInstance<SlideType>[];
---

<div class="slide-show">
    {
        slides.map((slide) => (
            <Slide slide={slide.frontmatter}>
                <slide.Content />
            </Slide>
        ))
    }
</div>

<style>
    .slide-show {
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
        height: 90%;
        width: 90%;
    }
</style>
