---
import SlideShow from "./SlideShow.astro";
import Starfield from "./Starfield.astro";
---

<div id="container">
    <SlideShow />
</div>

<style>
    #container {
        font-family:
            Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
            sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
</style>
