---
import "@fontsource/saira";

import Starfield from "@components/Starfield.astro";
import Surface from "@components/Surface.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>The Heat Death of the CMS</title>
    </head>
    <body>
        <div class="bg"></div>
        <Starfield />

        <main>
            <Surface class="slide-show">
                <slot />
                <input type="hidden" name="slide-index" value={0} />
            </Surface>
        </main>
    </body>
</html>

<style is:global>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        font-family: "Saira", sans-serif;

        font-size: 24px;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .slide-show {
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.03);
        max-width: 90vw;
        max-height: 90vh;
        aspect-ratio: 16 / 9; /* Standard presentation ratio */
        overflow: hidden;

        height: 100%;
        width: 100%;
        border: 1px dashed #ffffff44;
        position: relative;
    }

    .bg {
        position: fixed;
        top: -50%;
        left: -50%;
        right: -50%;
        bottom: -50%;
        width: 200%;
        height: 200vh;
        background: transparent url("/noise.png") repeat 0 0;
        background-repeat: repeat;
        animation: bg-animation 0.2s infinite;
        opacity: 0.8;
        visibility: visible;
        z-index: 20000;
        pointer-events: none;
    }

    @keyframes bg-animation {
        0% {
            transform: translate(0, 0);
        }
        10% {
            transform: translate(-5%, -5%);
        }
        20% {
            transform: translate(-10%, 5%);
        }
        30% {
            transform: translate(5%, -10%);
        }
        40% {
            transform: translate(-5%, 15%);
        }
        50% {
            transform: translate(-10%, 5%);
        }
        60% {
            transform: translate(15%, 0);
        }
        70% {
            transform: translate(0, 10%);
        }
        80% {
            transform: translate(-15%, 0);
        }
        90% {
            transform: translate(10%, 5%);
        }
        100% {
            transform: translate(5%, 0);
        }
    }

    a {
        color: inherit;
        letter-spacing: 8px;
    }
</style>

<script>
    const url = window.location.href;
    const slideOrder = [
        "title",
        "about-me",
        "concepts",
        "astro",
        "what",
        "why",
        "more-why",
        "how",
        "questions",
        "demo",
        "q&a",
        "thanks",
    ];

    const slideSlug = url.split("/")[4];
    const currentIndex = slideOrder.indexOf(slideSlug);

    const getNextSlide = () => {
        if (currentIndex + 1 <= slideOrder.length - 1) {
            return slideOrder[currentIndex + 1];
        }
    };

    const getPrevSlide = () => {
        if (currentIndex - 1 >= 0) {
            return slideOrder[currentIndex - 1];
        }
    };

    document.addEventListener("keyup", function (event) {
        if (event.key === "n") {
            event.preventDefault();
            if (getNextSlide()) {
                addExitAnimation();
                setTimeout(() => {
                    window.location.href = `/slides/${getNextSlide()}`;
                }, 1000);
            }
        } else if (event.key === "p") {
            event.preventDefault();
            if (getPrevSlide()) {
                addExitAnimation();
                setTimeout(() => {
                    window.location.href = `/slides/${getPrevSlide()}`;
                }, 1000);
            }
        } else if (event.key === "f") {
            goFullscreen();
        } else if (event.key === "e") {
            closeFullscreen();
        }
    });

    function addExitAnimation() {
        document.querySelector(".slide-show")?.classList.add("reverse");
    }

    function goFullscreen() {
        const element = document.documentElement;
        if (element.requestFullscreen) {
            element.requestFullscreen();
        }
    }

    function closeFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        }
    }
</script>
